# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [3]:
number = 6
print(number)

elephant = 5
print(elephant)
x = 5
y = 2

6
5

##### Assinging float

In [4]:
#float = any number with a decimal
num_floats = 2.3
print(num_floats)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [9]:
num1 = 2
num2 = 5.4

result =(num1 + num2)
print(result)

result +=2
print(result)

7.4
9.4

##### Subtraction

In [12]:
num1 = 7
num2 = 10
result_diff = num2 - num1
print(result_diff)

#short-hand version
result_diff -= 1
print(result_diff)

3
2

##### Multiplication

In [15]:
result_prod = num1 * num2
print(result_prod)

#short-hand 
result_prod *=2
print(result_prod)

70
140

##### Division

In [17]:
num3 = 20
num4 = 5
result_dividend = num3/num4
print(result_dividend)

#short-hand
result_dividend /=2
print(result_dividend)
print(int(result_dividend))

4.0
2.0
2

##### Floor Division

In [18]:
num5 = 15
num6 = 7
result_floor = num5 // num6
print(result_floor)

2

##### Modulo

In [22]:
num1 = 11
num2 = 2
remainder = num1 % num2
print(remainder)

num3 = 10
num4 = 2
remainder = num3 % num4
print(remainder)

if num3 % 2 == 0:
        print("even")

1
0
even

##### Exponential

In [24]:
square = 5 ** 2
print(square)

#short-hand
square **=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [25]:
name = "Raul"
print(name)

Raul

##### print() <br>
<p>Don't forget about end=' '</p>

In [29]:
print("this is my first name:", name)
print("full name", name, end= " Rhoades ")

this is my first name: Raul
full name Raul Rhoades

##### String Concatenation

In [34]:
first_name = "luke"
last_name = "lara"
full_name = first_name + " " + last_name

full_name += " Jedi Knight"
print(full_name)

luke lara Jedi Knight

##### Type Conversion

In [39]:
number = "32"
# int() --> convert a string or float to an integer
# float() --> change a integer or string a float
# srt() --> conver an integer or a float ro a string
print(type(number))
num_int = int(number)
print(type(num_int))
num_float = float(number)
print(type(num_float))

<class 'str'>
<class 'int'>
<class 'float'>

##### input()

In [43]:
# input will always return a string   --- ALWAYS----

# name = input("what is your name")
# color = input("what is your favorite color")
# quest = input("what is your quest")

# print(name, color, quest)


age = int(input("what is your age:"))

add_age = age + 1

print(add_age)
print(type(age))

what is your age:25
26
<class 'int'>

format()

In [46]:
age = input("What is your age")
name = input("what is your name")
result_string = "you are {} {} getting wiser". format(age, name)
print(result_string)

What is your age25
what is your nameloote
you are 25 loote getting wiser

##### Old Way (python 2)

In [47]:
result_string2 = "you are %s and you look grat for your age!" %age
print(result_string2)

you are 25 and you look grat for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [50]:
color = input("what it the color")
make = input("what is the make")
model = input("what is the model")
print(f"The car is {color} {make} {model}")

what it the colorRed
what is the makecorola
what is the modelToyota
The car is Red corola Toyota

### If Statements

In [55]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10
if num2 == num1:
    print("equal values")
else:
    print("not equal")
    
if num2 >= num1:
    print("num2 is greater")
elif num1 <= num2:
    print("num1 is greater")
else:
    print("this probably woulnt get hit")

not equal
num2 is greater

##### 'is' keyword

In [64]:
# use the "is" keyword for cheking for same/similar objects, same value

# num3 = 55
# if num3 is 55:
#     print("This is the exact number/object")

IndentationError: unexpected indent (4085419043.py, line 8)

##### 'in' keyword

In [67]:
# chcking for membership in a interable
char_name = "boba fett"
if "boba" in char_name:
    print("yes")
if "o" in char_name:
    print("yeah!")

yes
yeah!

##### 'not in' keyword'

In [ ]:
sega_char = "sonic"
if 'a' not in sega_char:
    print("no")
else:
    print("go fast")

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [82]:
# first_name = input("enter your first name ")
# if 'p' in first_name:
#     print("yes, there is a 'p' ")
# else:
#     print("no, there is not a 'p'")

## Using 'and'/'or' with If Statements

In [90]:
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num_1 =15
num_2 =3
num_3 =10
num_4 =3

#if with and

if num_1 / 5 == num_2 and num_3 -7 == num_4:
    print("true and true")
    print(True)
    
#if with or

if num_1 > num_2 or num_3 == num_4:
    print(True and False)
    print(True)
else:
    print(False)

true and true
True
False
True

### Elif Statements

In [93]:
first_name = "Max"
another_name = "Cheetor

if first_name == "Smith"
    print("the name is smith
elif first _name != "Max":
    print("The name is not max")
elif first_name == "cheetor":
        print("Maximals")
else: 
          print("the name is max

SyntaxError: unterminated string literal (detected at line 2) (1930882553.py, line 2)

### Else Statements

In [ ]:
# see above

### For Loops

In [99]:
#for keywords, varianle/counter, "in" keyword, condition

# for i in range(10):
#     print(i)
name ="Raul Lara"
for letter in name:
    print(letter)
    
for i in range(len(name)):
  print( i, name[i])

R
a
u
l

L
a
r
a
0 R
1 a
2 u
3 l
4
5 L
6 a
7 r
8 a

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [104]:
# will continue to next iteration
for i in range(20):
    print(i)
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [107]:
# name = "Mega man"
# for i in name:
#     pass #TODO: come back and finish implementation

##### Double For Loops

### While Loops

In [109]:
# while keyword, condition statement
#run based on the condition
num = 0
while num < 10:
    print(num)
    num +=1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [112]:
game_over = False

while True:
    print("infinite loop")
    if game_over == False:
        break

infinite loop

##### While & For Loops Used Together

### Built-In Functions

##### range()

In [115]:
# start, stop, step
# for i in range (1, 100, 2)
# print(i)

for i in range(0, 20, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18

##### len()

In [116]:
# gives length of the an iterable
name = "Lando"
print(len(name))

5

##### help()

In [117]:
#use this function to view more info about a python function
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [ ]:
# check a variable  to find out what object family it belongs to
# isintance(variable, type)

num = 4.5
print(isinstance)

##### abs()

### Try and Except

In [120]:
# use whenever you expect to encounter a bug so that erros doest not cause the program to stop
#use so you can log graceful and usefil error messege

try: 
    numer_test = 0
    input_num = int(input("Guess a numer!"))
    if input_num != number_test:
        input_num = input_num + number_test
        print("your numer is: " + str(input_num))
        
except:
    print("that did not work --- error: please please make sure your input is an number")

Guess a numer!6
that did not work --- error: please please make sure your input is an number

### Lists

##### Declaring Lists

In [ ]:
l_1 [] #empty list declaration

# name = ['Ash', 'misty', 'Brock', 'Gary']

##### Indexing a List

##### .append()

In [122]:
name = ['Ash', 'misty', 'Brock', 'Gary']
name.append('professor oak')
# print(name)

['Ash', 'misty', 'Brock', 'Gary', 'professor oak']

##### .insert()

In [131]:
#list.insert(index, value)
name.insert(2 , 'officer jenny')
print(name)

['Ash', 'misty', 'officer jenny', 'officer jenny', 'officer jenny', 'officer jenny', 'officer jenny', 'officer jenny', 'officer jenny', 'Brock', 'Gary', 'professor oak']

##### .pop()

In [130]:
print(name)

['Ash', 'misty', 'officer jenny', 'officer jenny', 'officer jenny', 'officer jenny', 'officer jenny', 'officer jenny', 'Brock', 'Gary', 'professor oak']


##### .remove()

In [132]:
# value to be removed, not index
#list.remove(value)

new_names = ["Ryan", "Alex", "Raul", "Cris", "Teddie"]
new_names.remove("Ryan")
print(new_names)

['Alex', 'Raul', 'Cris', 'Teddie']

##### del()

In [134]:
# index to be removed, not value
# BE careful with del, can cause indexing erros

new_names = ["Ryan", "Alex", "Raul", "Cris", "Teddie"]
del(new_names[1])
print(new_names)

['Ryan', 'Raul', 'Cris', 'Teddie']

##### Concatenating Two Lists

In [135]:
l_2 = [1,2,3,4]
l_3 = [5,6,7,8]
larger_list = l_2 + l_3
print(larger_list)

[1, 2, 3, 4, 5, 6, 7, 8]

##### Lists Within Lists

In [137]:
names = ["Max", "Sam", "Josh",  ["Slaie", "Sue", "Tameka"] ]
print(names)
print(names[0])
print(names[3][0])

['Max', 'Sam', 'Josh', ['Slaie', 'Sue', 'Tameka']]
['Max', 'Sam', 'Josh', ['Slaie', 'Sue', 'Tameka']]

##### Looping Through Lists

In [141]:
names = ['Ryan', 'Alex', 'Raul', 'Chris', 'Teddie']
for i in range(len(names)):
    print(i)
    print(i, names[i])

    #looping by value and using "in" keyword
for name in names:
    print(name)
    
#enumerate
for i, name in enumerate(names):
    print(i, name)

0
0 Ryan
1
1 Alex
2
2 Raul
3
3 Chris
4
4 Teddie
Ryan
Alex
Raul
Chris
Teddie
0 Ryan
1 Alex
2 Raul
3 Chris
4 Teddie

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [145]:
for i in range(0,12):
    cube = i ** 3
    if (cube > 1000):
        break
    else:
        print(cube)

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [158]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
for i in range(2,101):
    counter = 0
    for j in range(2,i//2 + 1):
        if(i % j == 0):
            counter = counter + 1
            break
    if (counter == 0 and i != 1):
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [171]:
age = input("Enter your age: ")
age_num = int(age)
if (age_num >= 1 and age_num < 18):    
    print("Kids")
elif(age_num >= 18 and age_num <= 65):
    print("adults")
elif(age_num < 1):
    print("Not valid age")
else: 
    print("seniors")

Enter your age: -4
Not valid age